
.calculadora {
    background: darkgray;
    width: 240px;
    margin: auto;
    padding: 20px;
    border: 10px solid darkslategrey;
    padding: 0px;
}

.sinal {
    background-color: gray;
}

#visor {
    height: 60px;
    width: 240px;
    margin: 0px;
    border: 0px;
}

button{
    position: relative;
    height: 60px;
    width: 60px;
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color: darkgray;
}

button:hover{
    color: #FFF;
    background-color: rgba(47, 79, 79, 1)
}

td{
    padding: 0px;
    border: 0px;
}
 table {
     border-spacing: 0px;
 }

 body {
    background: url("../Imagens/Prof.Angelo.jpg");
    background-size: 80px 80px;
    background-repeat: repeat;
}