

.questao h1{
  font-size: 2em; 
 font-style: italic;
  font-weight: normal; 
    margin: 0px;
}

/* .q1{
     display: none; 
} */

.questao p{
    font-size: 5em;
}

.questao button{
    font-size: 2em;
    padding: 10px 20px;
    margin: 0px 60px;
    width: 150px;
    height: 150px;
}

.questionario{
    text-align: center;
}
.q1 button{
    color: #fff;
    border-radius: 100%;
    border: none;
}

.q1 .btn-sim:hover{
    background-color: #228B22;
}

.q1 .btn-nao:hover{
    background-color: #B22222;
}


.q1 .btn-sim{
 background-color: #00FF00;
}
.q1 .btn-nao{
 background-color: #FF4500;
}

.resposta h1{
    font-size: 2em;
}

.esconderDiv{
    display: none;
}

.exibiDiv{
    display: inline;
}
.frenetico{
     animation: frenetico 0.9s infinite;
}

@keyframes frenetico {
  0% {
    background-color: #001F3F;
  }
  10%{
      background-color: green;
  }
  20%{
      background-color: blue;
  }
  30%{
      background-color: pink;
  }
  40%{
      background-color: purple;
  }
  50%{
      background-color: brown;
  }
  60%{
      background-color: yellow;
  }
  70%{
      background-color: lightblue;
  }
  80%{
      background-color: lightcyan;
  }
  90%{
      background-color: lightslategray;
  }
  100% {
    background-color: #FF4136;
  }
}