.centralizado{
 text-align: center;
}

.introducao{
   margin-bottom: 30px;
}

.justificado{
    text-align: justify;
}

.indice{
    margin-bottom: 100px;
}

hr{
    margin: 50px 0px;
}

.logos ul{
    padding: 0px;
    list-style: none;
}

.logos li{
    display: inline;
}

img.logo{
    width: 250px;
    height: 200px;
}

.logos{
    width: 760px;
    margin: 0px auto;
}